.container.about
	.col-md-4.section-title
		h2 About Us
	.col-md-8
		h3.heading
			|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit, felis vel bibendum ornare, metus nulla facilisis mi, a facilisis arcu nulla ut mauris. 
		.body-text
			p
				|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit, felis vel bibendum ornare, metus nulla facilisis mi, a facilisis arcu nulla ut mauris. 
				|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit, felis vel bibendum ornare, metus nulla facilisis mi, a facilisis arcu nulla ut mauris. 
			p
				|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit, felis vel bibendum ornare, metus nulla facilisis mi, a facilisis arcu nulla ut mauris. 
				|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit, felis vel bibendum ornare, metus nulla facilisis mi, a facilisis arcu nulla ut mauris. 
			p
				|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit, felis vel bibendum ornare, metus nulla facilisis mi, a facilisis arcu nulla ut mauris. 
				|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit, felis vel bibendum ornare, metus nulla facilisis mi, a facilisis arcu nulla ut mauris. 
