.contact
	.container
		h2.text-center Contact Me
		form#contact-form(role="form")
			p.explanation.text-center
				| Want to talk about your project? Just want to chat?  Don't hesitate to get in touch. <br> 
				| You can use this form or email me at 
				a(href="mailto:paurielarker@gmail.com") paurielarker@gmail.com
			.error-container.col-md-6.col-md-offset-3.text-center
			.col-md-5.col-md-offset-1
				input.form-group.form-control#name(name="name", type="text", placeholder="Name")
				input.form-group.form-control#email(name="email", type="email", placeholder="Email")
				input.form-group.form-control#subject(name="subject", type="text", placeholder="Subject")
			.col-md-6
				textarea.form-group.form-control#message(name="message", type="text", placeholder="Message", rows="6")
			.col-md-2.col-md-offset-5.form-group
				button.btn-primary.form-input.btn-block.btn.ladda-button#form-submit(data-style="expand-right") Send