.container.tiles


	each val in [1,2,9,4,5]
		.tile
			img.img-responsive.img-rounded(src='http://s3-us-west-2.amazonaws.com/lauriefilms/wallpapers/' + val + '.jpg')
	.tile
		video.img-rounded.img-responsive(autoplay, muted="true" loop)
			source(src="http://techslides.com/demos/sample-videos/small.mp4", type="video/mp4")
	each val in [6,7,9, 8,3]
		.tile
			img.img-responsive.img-rounded(src='http://s3-us-west-2.amazonaws.com/lauriefilms/wallpapers/' + val + '.jpg')
	.tile
		video.img-rounded.img-responsive(autoplay, muted="true" loop)
			source(src="http://www.w3schools.com/html/mov_bbb.mp4", type="video/mp4")